@using viewModel.Models
@model Number

<h1>Here are some numbers!</h1>
<p>@Model.nums[0]</p>
<p>@Model.nums[1]</p>
<p>@Model.nums[2]</p>
<p>@Model.nums[3]</p>
<p>@Model.nums[4]</p>
<p>@Model.nums[5]</p>

   
   
   

   

