

<link rel="stylesheet" href="~/css/lucian.css">
<div class="container">
   <div class="stats">
      <ul class="nav">
         <li class="nav-item"> Fullness: @ViewBag.Fullness </li>
         <li class="nav-item"> Happiness: @ViewBag.Happiness </li>
         <li class="nav-item"> Meals: @ViewBag.Meals </li>
         <li class="nav-item"> Energy: @ViewBag.Energy </li>
      </ul>
   </div>
   <div class="display">
      <div class="pic">
         <img class="lucian" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/d/db/Lucian_OriginalCentered.jpg/revision/latest/scale-to-width-down/1215?cb=20180414203357">
      </div>
      <div class="message">
         <h3>@ViewBag.Message</h3>
      </div>
   </div>
   <div class="stats">
      <ul class="nav">
         <li class="nav-item"><a href="feed"><button>Feed</button></a></li>
         <li class="nav-item"><a href="play"><button>Play</button></a></li>
         <li class="nav-item"><a href="work"><button>Work</button></a></li>
         <li class="nav-item"><a href="sleep"><button>Sleep</button></a></li>
      </ul>
   </div>
</div>